h1{
    font-weight: 700;
    font-size: 80px;
    line-height: 125%;
    color: #F7F7F7;
}
h2{
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: #F7F7F7;
}

p{
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: rgba(247,247,247,0.50);
}



.btn-login{
    transition: 0.3s;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    text-align: center;
    color: #F7F7F7;
    background: unset;
    white-space: nowrap;
}
.btn-login:hover{
    opacity: 0.7;
}



.section-margin{
    margin-top: 120px;
}


.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background: linear-gradient(0deg, #CDFF05, #CDFF05),
    linear-gradient(90deg, rgba(247, 247, 247, 0.4) 0%, rgba(247, 247, 247, 0.2) 47.12%, rgba(247, 247, 247, 0.4) 100%);
    border: 1px solid #F7F7F733;
    box-shadow: 0px 10px 20px 0px #F7F7F70D;
    width: max-content;
    border-radius: 50px;
    position: relative;
    color: #111111;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    padding: 18px 35px;
}
.btn:hover{
    opacity: 0.7;
}


/*============-global-style-end-==========*/



.banner-main{
}
.banner-abso{
    padding-top: 192px;
}
.banner-abso{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.editor-photo{
    width: 100%;
    height: 1200px;
    max-width: 1440px;
    margin: 0 auto;
}
.editor-photo img {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}
.banner-flex{
    gap: 20px;
    position: relative;
    z-index: 2;
}
.banner-flex h1{
    max-width: 700px;
    width: 100%;
}


.banner-info{
    max-width: 427px;
    width: 100%;
    padding-top: 15px;
}

.banner-info p{
    font-size: 20px;
}
.banner-btn{
    margin-top: 35px;
    gap: 20px;
}
.banner-btn .btn{
    font-size: 25px;
    line-height: 150%;
}

.btn-play{
    transition: 0.3s;
    border-radius: 50%;
    border: 1px solid #F7F7F70D;
    background: #F7F7F726;
    width: 74px;
    height: 74px;
}
.icon-play{
    content: url("../img/icon-play.svg");
    width: 40px;
    height: 40px;
}



.editor-cnt{
    position: relative;
    z-index: 2;
    margin-top: 100px;
}
.editor-logo{
    gap: 17px;
}
.editor-logo img{
    width: 72px;
}
.editor-logo p{
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    max-width: 190px;
    width: 100%;
}
.editor-logo p span{
    color: rgba(247,247,247,0.80);
}


.active-clients-box{
    max-width: 264px;
    width: 100%;
}
.active-clients-center{
    gap: 25px;
    justify-content: flex-end;
}

.active-clients-center img{
    width: 126px;

}
.active-clients-center strong{
    font-weight: 600;
    font-size: 50px;
    line-height: 100%;
    color: rgba(247,247,247,0.80);
    display: flex;
    align-items: center;
}
.active-clients-center strong span{
    color: rgba(247,247,247,0.50);

}
.active-clients{
    gap: 12px;
    margin-top: 29px;
    justify-content: flex-end;
}
.active-online{
    background: #CDFF05;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.active-clients p{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: rgba(247,247,247,0.50);
}






.our-clients-flex{
    gap: 25px;
}


.our-clients-cnt{
    max-width: 555px;
    width: 100%;
}
.our-clients-cnt h2{
    max-width: 410px;
}
.number-title{
    position: relative;
}
.count-tit{
    color: rgba(247,247,247,0.02);
    font-weight: 700;
    font-size: 300px;
    line-height: 100%;
    position: absolute;
    left: -69px;
    top: -148px;
    font-style: Italic;

}
.number-title small{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    font-style: Italic;
    color: rgba(247,247,247,0.50);

}
.number-title h2{
    margin-top: 30px;
    max-width: 500px;
    width: 100%;
}

.number-title p{
    margin-top: 40px;
}

.our-clients-btn{
    margin-top: 40px;
    display: flex;
    gap: 30px;
}
.btn-white{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    white-space: nowrap;
    width: max-content;
    background: #F7F7F7;
    height: 67px;
    padding: 20px 40px;
    border-radius: 40px;
    color: #111111;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
}
.btn-white:hover{
    color: #F7F7F7;
    background: #111111;

}

.href-reg{
    color: rgba(247,247,247,0.50);
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    transition: 0.3s;
    white-space: nowrap;
    background: unset;
}
.href-reg:hover{
    color: rgba(247,247,247,0.80);

}



.our-clients-wrap{
    max-width: 570px;
    width: 100%;
    gap: 30px;
}

.our-clients-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
    width: calc(50% - 15px);
    background: #F7F7F705;
    height: 270px;
    border-radius: 30px;
    padding: 30px 20px;
}
.marketers-fon{
    box-shadow: 0px 5px 20px 0px #00000040;
    background: #111111;

}

.our-clients-box span{
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: rgba(247,247,247,0.50);
}
.marketers-fon span{
    color: rgba(247,247,247,1);
}
.our-clients-box p{
    font-size: 18px;
    line-height: 140%;
    text-align: center;
}




.about-numbers{
    gap: 20px;
}


.about-numbers p{
    max-width: 549px;
    width: 100%;
}


.about-numbers-flex{
    margin-top: 70px;
    gap: 30px;
}


.about-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.3s;
    background: #F7F7F705;
    padding: 30px 25px;
    border-radius: 30px;
    max-width: 272px;
    width: 100%;
    height: 199px;
}
.about-black{
    box-shadow: 0px 5px 20px 0px #00000040;
    background: #111111;
}
.about-box strong{
    transition: 0.3s;
    font-weight: 600;
    font-size: 60px;
    line-height: 100%;
    text-align: center;
    color: rgba(247,247,247,0.50);
}
.about-box p{
    transition: 0.3s;
    color: rgba(247,247,247,0.30);
    font-size: 18px;
    line-height: 140%;
    text-align: center;
}
.about-black  strong{
    color: #F7F7F7;
}

.about-black  p{
    color: rgba(247,247,247,0.50);

}





.capabilities-fon{
    background: #111111;
    border-radius: 60px;
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.capabilities-flex{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.capabilities-info{
    max-width: 725px;
    width: 100%;
    padding: 130px 0;
}
.capabilities-info p{
    max-width: 530px;
    width: 100%;
}
.capabilities-text {
    margin: 40px 0;
}
.capabilities-text ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
.capabilities-text ul li{
    display: flex;
    align-items: center;
    gap: 12px;
}
.capabilities-text ul li span{
    color: #F7F7F7;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
}



.icon-pic{
    content: url("../img/icon-pic.svg");
}
.icon-mak{
    content: url("../img/icon-mak.svg");
}
.icon-lup{
    content: url("../img/icon-lup.svg");
}






.capabilities-photo{
    max-width: 649px;
    width: 100%;
    margin-left: -163px;
    margin-right: -80px;
}











.accordion{
    margin-top: 70px;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.questions-box{
    border-radius: 15px;
    width: 100%;
    position: relative;
    transition: 0.3s;
}
.questions-click{
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 20px;
    background: #F7F7F705;
    transition: 0.3s;
    cursor: pointer;
}

.questions-click h4{
    font-weight: 600;
    font-size: 25px;
    line-height: 120%;
    color: #F7F7F7;
    position: relative;
    z-index: 1;
}


.questions-click.open{
    background: unset;
}
.questions-click:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 5px 20px 0px #0000001A;
    transition: 0.3s;
    background: #111111;
    opacity: 0;
    border-radius: 15px;
}
.open:before{
    opacity: 1;
}


.open-accordion{
    max-width: 36px;
    min-width: 36px;
    width: 100%;
    height: 36px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    position: relative;
    cursor: pointer;
    z-index: 1;

}

.open-accordion:before{
    content: "";
    position: absolute;
    width: 2px;
    height: 16px;
    background: #F7F7F7;
    border-radius: 5px;
    transition: 0.3s;
}
.open-accordion:after{
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    background: #F7F7F7;
    border-radius: 5px;
    transition: 0.3s;
}
.open .open-accordion:before{
    transform: rotate(45deg);
}
.open .open-accordion:after{
    transform: rotate(45deg);
}
.submenu-faq{
    display: none;
}
.questions-text{
    padding: 0 20px 20px;
    position: relative;
    z-index: 1;
}
.questions-text p{
    font-size: 15px;
    color: rgba(247,247,247,0.70);

}























footer{
    padding: 80px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/footer.png");
    border-radius: 60px 60px 0 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    width: 100%;
}




.upgrade-visuals{
    position: relative;
}
.upgrade-visuals:before{
    content: "";
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;
    height: 400px;
    background-image: url("../img/visuals-stars.png");
    background-size: cover;
    background-repeat: no-repeat;
}




.upgrade-visuals h2{
    max-width: 486px;
    width: 100%;
    text-align: center;
}
.upgrade-visuals p{
    margin-top: 25px;
    max-width: 560px;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.upgrade-visuals .btn{
    margin-top: 35px;
}










.footer-cnt{
    gap: 20px;
    position: relative;
    z-index: 1;
    margin-top: 162px;
}
.footer-btn{
    gap: 18px;
}

.footer-menu a:hover{
    opacity: 0.7;
}











@media (max-width: 1399px){
    .banner-flex h1 {
        max-width: 500px;
        font-size: 64px;
        line-height: 107%;
    }

}


@media (max-width: 1299px){
    .banner-info p {
        font-size: 18px;
    }
    .banner-btn .btn {
        font-size: 20px;
    }
    .banner-flex h1 {
        font-size: 58px;
    }
    .editor-photo {
        height: 1137px;

    }
    .count-tit {
        font-size: 260px;
    }

    h2 {
        font-size: 42px;
    }

   .about-numbers h2{
        max-width: 360px;
    }
    .number-title h2{
        margin-top: 20px;
        max-width: 420px;
    }
    p {
        font-size: 19px;
        line-height: 142%;
    }

    .number-title p {
        margin-top: 24px;
    }

    .our-clients-cnt {
        max-width: 518px;
    }

    .about-box strong {
        font-size: 48px;
    }

    .upgrade-visuals h2 {
        max-width: 440px;
    }

}

@media (max-width: 1199px){




    .banner-flex h1 {
        font-size: 50px;
        max-width: 427px;
    }


    .editor-photo {
        height: 1086px;
    }

    .editor-logo p {
        font-size: 18px;
    }
    .active-clients-center strong {
        font-size: 44px;
        align-items: center;
    }
    .editor-logo {
        gap: 8px;
    }
    .active-clients-center {
        gap: 16px;
    }
    .editor-cnt {
        margin-top: 50px;
    }
    .our-clients-wrap {
        gap: 20px;
    }
    .our-clients-box {
        gap: 12px;
        width: calc(50% - 10px);
        border-radius: 20px;
        padding: 30px 15px;
    }

    .btn-white {
        height: 56px;
        padding: 11px 40px;
        font-size: 19px;
    }

    p {
        font-size: 18px;
        line-height: 145%;
    }

    .our-clients-cnt {
        max-width: 430px;
    }
    .capabilities-photo {
        margin-left: 0;
        margin-right: 0;
    }


    .about-numbers-flex {
        margin-top: 50px;
        gap: 20px;
    }




    .about-box {
        gap: 15px;
        padding: 30px 6px;
        border-radius: 20px;
    }


    .section-margin {
        margin-top: 100px;
    }

    .capabilities-photo {
        max-width: 528px;
        margin-left: 0;
    }
    .capabilities-text ul {
        gap: 15px;
        flex-direction: column;
        align-items: flex-start;
    }
    h2 {
        font-size: 38px;
    }
    .count-tit {
        font-size: 240px;
        left: -115px;
        top: -86px;
    }
    .number-title p {
        margin-top: 20px;
    }
    .btn {
        font-size: 17px;
        padding: 15px 30px;
    }
    .capabilities-info {
        max-width: 400px;
        padding: 82px 0;
    }
    .capabilities-text {
        margin: 35px 0;
    }
    .questions-click h4 {
        font-size: 21px;
    }
    .upgrade-visuals h2 {
        max-width: 370px;
    }
    .upgrade-visuals:before {
        height: 370px;
    }
}
@media (max-width: 1020px){

    .banner-flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .banner-btn {
        margin-top: 25px;
        gap: 15px;
        justify-content: center;
    }
    .banner-btn .btn {
        font-size: 15px;
        padding: 12px 30px;
    }
    .btn-play {
        width: 47px;
        height: 47px;
    }

    .banner-info p {
        font-size: 16px;
    }

    .banner-abso {
        padding-top: 130px;
    }









    .banner-info {
        max-width: 407px;
        width: 100%;
        padding-top: 0;
    }
    .editor-cnt {
        margin-top: 60px;
    }
    .editor-logo img {
        width: 46px;
    }



    .editor-logo p {
        font-size: 15px;
        max-width: 120px;
    }
    .active-clients-center strong {
        font-size: 32px;
    }


    .editor-photo {
        height: 895px;
        position: relative;
        top: 220px;
    }
    .banner-main {
        padding-bottom: 200px;
    }
    .banner-main:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: #111111;
        width: 100%;
        height: 220px;
    }

    .our-clients-flex {
        gap: 30px;
        flex-direction: column;
        align-items: flex-start;
    }
















    .our-clients-cnt h2 {
        max-width: 288px;
    }
    .our-clients-cnt {
        max-width: 577px;
    }

    .our-clients-btn {
        margin-top: 20px;
    }
    .our-clients-wrap {
        max-width: 770px;
        gap: 20px;
        margin: 0 auto;
    }
    .about-numbers {
        flex-direction: column;
        align-items: flex-start;
    }
    .count-tit {
        font-size: 200px;
        left: -87px;
        top: -25px;
    }
    .about-numbers-flex{
        flex-wrap: wrap;
    }
    .about-numbers-flex {
        margin-top: 40px;
    }
    .about-box {
        border-radius: 20px;
        max-width: calc(50% - 12px);
        height: 213px;
    }


    .capabilities-fon {
        border-radius: 30px;
    }

    .section-margin {
        margin-top: 80px;
    }
    .capabilities-flex {
        flex-direction: column;
        align-items: flex-start;
    }
    .capabilities-info {
        max-width: 452px;
        padding: 40px 0;

    }

    p {
        font-size: 15px;
        line-height: 149%;
    }

    .capabilities-photo {
        max-width: 413px;
        margin: 0 auto;
    }
    .accordion {
        margin-top: 40px;
        gap: 15px;
    }

    .questions-click h4 {
        font-size: 18px;
    }
    .questions-click {
        border-radius: 12px;
        padding: 15px;
    }

    .questions-text {
        padding: 0 15px 15px;
    }
    .upgrade-visuals:before{
        display: none;
    }

    footer {
        padding: 60px 0;
        border-radius: 30px 30px 0 0;
        background-position: center;
    }
    h2 {
        font-size: 35px;
    }

    .footer-cnt {
        margin-top: 63px;
    }
    .footer-cnt{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }
    footer .logo {
        font-size: 18px;
    }
    footer .menu-scroll {
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;
    }
    .upgrade-visuals p {
        margin-top: 30px;
        max-width: 304px;
        font-size: 15px;
    }

    .active-clients {
        display: none;
    }
    .editor-photo {
        height: 804px;
    }
    .btn-white {
        height: 48px;
        padding: 11px 30px;
        font-size: 15px;
    }
    .href-reg {
        font-size: 18px;
    }
    .about-box {
        border-radius: 20px;
        max-width: calc(50% - 10px);
        height: 199px;
    }
    .active-clients-center img {
        width: 89px;
    }
}

@media (max-width: 767px){
    .banner-flex h1 {
        font-size: 40px;
        max-width: 359px;
    }
    .banner-info p {
        font-size: 15px;
    }
    .active-clients-center strong {
        font-size: 22px;
    }
    .active-clients-center img {
        width: 82px;
    }
    .editor-logo img {
        width: 35px;
    }
    .editor-logo p {
        font-size: 12px;
    }
    .editor-photo {
        height: 673px;
    }
    .number-title h2 {
        max-width: 346px;
    }


}
@media (max-width: 570px){

    .active-clients-box {
        max-width: 156px;
    }
    .our-clients-cnt h2 {
        max-width: 255px;
    }
    .href-reg {
        font-size: 15px;
    }
    .our-clients-box {
        width: 100%;
    }
    .about-box {
        max-width: 100%;
    }
    .number-title h2 {
        max-width: 326px;
        font-size: 30px;
    }
    .questions-click h4 {
        font-size: 15px;
    }
    .questions-text p {
        font-size: 12px;
    }
}